<div class="p-4">
    <div class="max-w-3xl mx-auto">
      <app-menu-custom class="mt-4 mb-2"[showMenu]="showMenu" (uploadClick)="fileUploader.openDialog()"></app-menu-custom>
      <div class="flex flex-row flex-end">
        <div *ngIf="attachedFile" class="mb-2">
          <app-filechip
            [fileName]="fileName"
            (closeEvent)="removeAttachedFile()">
          </app-filechip>
        </div>
      </div>
      <div class="relative flex flex-row items-center bg-gray-200 rounded-lg">

        <div class="rounded-2x p-2" (click)="handleshowMenu()">
          <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13 3C13 2.44772 12.5523 2 12 2C11.4477 2 11 2.44772 11 3V11H3C2.44772 11 2 11.4477 2 12C2 12.5523 2.44772 13 3 13H11V21C11 21.5523 11.4477 22 12 22C12.5523 22 13 21.5523 13 21V13H21C21.5523 13 22 12.5523 22 12C22 11.4477 21.5523 11 21 11H13V3Z" fill="#0F0F0F"/>
            </svg>
        </div>
        <textarea
          [(ngModel)]="inputText"
          (keydown.enter)="onEnter($any($event))"
          placeholder="Send a message..."
          rows="1"
          class="flex-1 bg-transparent text-gray-500 px-4 py-3 outline-none resize-none max-h-32 overflow-y-auto"
        ></textarea>

        <button
          (click)="send()"
          [disabled]="!inputText.trim() || isLoading"
          class="absolute right-2 p-2 rounded-md disabled:opacity-50 disabled:cursor-not-allowed " 
          [ngClass]="isLoading?'bg-purple-300':'bg-purple-500'">
          
          <svg *ngIf="!isLoading" class="w-5 h-5 rotate-90 text-white"  fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"/>
          </svg>
          <svg *ngIf="isLoading" class="w-5 h-5 text-gray-500 animate-spin" fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
          </svg>
        </button>


      </div>
    </div>
  </div>
<app-uploadfile
  #fileUploader
  (fileSelected)="onFileSelected($event)"
></app-uploadfile>
