
  <div *ngIf="showMenu"class="w-[242px] h-10 flex items-center bg-gray-100 rounded-lg shadow-lg mt-3 mb-3 transition-transform hover:shadow-xl">
    <button
      type="button"
      class="flex items-center justify-center text-sm text-gray-700 hover:text-blue-600 font-semibold space-x-2 w-full"
      (click)="uploadClick.emit()">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M5 15l7-7 7 7"></path>
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 3v12"></path>
      </svg>
      <span>Upload a file</span>
    </button>
</div>
